/node_modules
/public/hot
/public/storage
/public/documents
/public/images/operators
/public/images/users
/public/images/news
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
